.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  width: 100vw;
  height: 10vh;
  background-color: #6ad4af;
  margin: 0px;
}

.backgroundLogo {
  width: 200px;
  height: 10vh;
  background-color: whitesmoke;

  display: flex;
  justify-content: center;
}

.logo {
  width: 90%;
  height: 10vh;
  background-image: url("../images/Logo-SNP-2023-ver1-color.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.classItens {
  display: flex;
  align-items: center;

  margin: 0px;
  padding: 0px;
  list-style: none;
}

.item {
  margin-right: 10px;
  cursor: pointer;
}
